<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <%if (title!=null && articleBody !=null) {%>
        <form method="post" action="/edited">
            <pre>title:   <input type="text" minlength="1" name="title" value=<%=title%> ></pre>
            <pre>article: <input type="text" name="articleBody" value=<%=articleBody%> > </pre>
            <input type="hidden" value= <%=_id%> name="_id" >
        <input type="submit" value="edit">
        </form> 
        <%}else {%>
            <h1 style="text-align: center">Can,t Edit </h1>
            <%}%>
</body>
</html>